.index-wrap{
  background-size: 100% 100%;
  background-image: url("../../img/girl-hero.jpg");
  height: 800px;
}

.center-elements{
  margin: 0 160px
}

.header{
	position: fixed;
	z-index: 10;
	width: 100%;
}
.navbar-transparent{
	background-color: rgba(0,0,0,0);
}
.a-disabled{
    pointer-events: none;
}
.scrolled{
  background-color: white;
  color: black;
}

.navbar-logo{
  width: 132px;
  height: 40px;
  background-size: 132px 40px;
}

.typewriter-container{
  text-align: center;
  color:#fff;
  padding-top: 280px;
  color:#fff;
  text-decoration: none;
  font-size: 42px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  margin: 0 4px 0 0;
  &:hover{
    background: white;
    color: #9032c8;
  }
}

.border-btn{
  border: 1px solid white;
}
// Estilos para la sección morada
// -------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto');

.cuadro-morado {
  background-image: linear-gradient(107deg, #3023ae, #c96dd8);
  padding: 70px 0 70px 0;
}

div {
  display: block;
}
.container {
  width: 100%;
  padding: 0;
}

.container-img img{
  margin-top: 30px;
}

.element-cuadro-morado {
  text-align: center;
  display: block;
  padding: 0 11.250px 0 11.250px;
}

.element-cuadro-morado p {
  height: auto;
  min-height: 80px;
  line-height: 1.15;
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 19px;
  margin: 16px 0 16px 0;
  color: white;
}


// --------------------------------------------------------------------