$text_color: #FFFFFF;
$purple: #441B78;

.text-helpers {
	padding: 20px;
	text-align: center;
}

.title-helpers{
	@extend .text-helpers;
	font-weight: bold;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-jelpmi {
	color: $purple;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
	border: solid 1px $purple;
	padding: 10px 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	&:hover {
  	color: #FFFFFF;
  	text-decoration: none;
  	background-color: #963CC6;
	}
}
.img-helper {
	img {
		width: 300px;
		height: 300px;
	}
}

.separator {
	background: #DB1ADF;
	height: 3px;
	margin: 0;
}

.helpers {
	margin: 0;
	padding: 0;
}
.footer-jelpmi, .mini-footer {
	background-color: $purple;
}

li {
	list-style-type: none;
}
.list-links li{
	&:first-child {
		font-weight: 900;
	}
}
.footer-jelpmi, .mini-footer {
	color: $text_color;
	width: 100%;
	a {
		text-decoration: none;
		&:visited, &:link{
				color: $text_color;
		}
	}
}

.logo img {
	width: 160px;
	height: 80px;
}

.apps-buttons {
	img {
		width: 150px;
		height: 60px;
		padding-bottom: 10px;
	}
	.play {
		margin-right: 20px;
	}
}

.texto-footer {
	font-weight: bold;
	img {
		width: 30px;
		height: 20px;
		padding-right: 4px;
		padding-left: 4px;
	}
}
.list-links {
	img {
		width: 24px;
		height: 24px;
		padding: 2px;
	}
}
@media (max-width: 768px) {
	.apps-buttons {
		img {
			width: 100px;
			height: 40px;
			padding-bottom: 10px;
		}
	}
	.img-helper {
		img {
			width: 240px;
			height: 240px;
		}
	}
}

@media (max-width: 425px){
	.logo img {
		width: 100px;
		height: 40px;
	}
	.apps-buttons {
		margin-top: 15px;
	}
	.mini-footer {
		padding-top: 20px;
		padding-bottom: 50px;
	}
}
