$jm_purple: #A500AC;
$jm_pink: #FF0099;

.card-deck{
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.img-box{
		color: white;
		position: relative;
	}
	.img-title{
		font-size: 150%;
		font-weight: bold;
		justify-content: center;
		align-items: center;
		display: flex;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.btn-primary{
		background-color: $jm_purple;
		&:hover{
			background-color: $jm_purple;
			opacity: 0.7;
		}
		border-style: none;
	}
	.btn-secondary{
		background-color: $jm_pink;
		&:hover{
			background-color: $jm_pink;
			opacity: 0.7;
		}
		border-style: none;
	}
}

.references{
	p{
		color: green;
	}
}

.logos{
	margin: 5%;
	.img-box{
		img{
			width: 60%;
		}
	}
	.sony{
		img{
			width: 20%;
		}
	}
}
